<a href="https://colab.research.google.com/github/victorjorgeecono/Carteira_aleatoria_acoes/blob/main/2_Carteira_Aleat%C3%B3ria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance 
!pip install pandas
!pip install numpy
!pip install matplotlib.pyplot
!pip install seaborn

In [ ]:
!pip install investpy

In [3]:
import investpy as inv
import yfinance as yf
import random as ra 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader.data as web
import seaborn as sns
sns.set()

In [ ]:
acoes_listadas = inv.get_stocks_list(country= 'Brazil')
carteira_1= (ra.choices(acoes_listadas, k=5))
carteira_1

In [ ]:
data_inicial = '2019-12-01'
data_final= '2021-12-01'

In [79]:
dados_aleat = carteira_1
acoes_SA = []
for item in dados_aleat:
  acoes_SA.append(item + '.SA')

acoes_SA

['CXRI11.SA', 'SHOW3.SA', 'LAME4.SA', 'ALPA4.SA', 'DMAC11.SA']

In [84]:
dados_yahoo = yf.download(acoes_SA, start= data_inicial, end= data_final)['Close']
dados_yahoo

[*********************100%***********************]  5 of 5 completed

             ALPA4.SA    CXRI11.SA   DMAC11.SA   LAME4.SA  SHOW3.SA
Date
2019-12-02  31.160000  1385.290039  619.900024  22.652437      5.15
2019-12-03  31.150000  1359.900024  619.950012  22.921516      5.23
2019-12-04  31.150000  1359.000000  620.000000  23.041107      5.24
2019-12-05  31.299999  1410.000000  619.900024  22.961380      5.31
2019-12-06  32.049999  1405.000000  619.450012  24.585817      5.26
...               ...          ...         ...        ...       ...
2021-07-15  52.220001    75.209999   14.150000   8.531549      6.60
2021-07-16  52.180000    74.000000   13.890000   8.659999      6.85
2021-07-19  52.450001    74.050003   13.680000   7.900000      6.65
2021-07-20  52.660000    74.150002   13.300000   8.330000      6.39
2021-07-21  51.820000    74.180000   12.970000   7.900000      6.52

[401 rows x 5 columns]

In [ ]:
retorno = dados_yahoo.pct_change()